@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    Use this application to factor a polynomial and discover its rational roots.  You will
    find that the process becomes easier and easier the more you try.  Get 
    started now!      
</p>
